.navbar {
  // position: sticky;
  top: 0px;
  margin: 0;
  background-color: #f9f9fc;
  height: 60px;
  z-index: 10;
  .navbar-wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar-left-item {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .navbar-center {
    font-size: 30px;
    letter-spacing: 2px;
    @media (max-width: 900px) {
      display: none;
    }
  }
  .navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
    .navbar-right-icons {
      display: flex;
      gap: 15px;
      color: #777;
      cursor: pointer;
      .user-icon {
      }
      .cart-icon {
        position: relative;
        span {
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          color: white;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
